<div class="container">
  <button (click)="navigateToCreate()">Créer une nouvelle personne</button>
  <input type="text" [(ngModel)]="searchQuery" placeholder="Rechercher..." (input)="search()">
  <table>
    <thead>
    <tr>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Âge</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let person of persons">
      <td (click)="viewPerson(person.id)">{{ person.lastName }}</td>
      <td>{{ person.firstName }}</td>
      <td>{{ person.age }}</td>
    </tr>
    </tbody>
  </table>
</div>
